.hero-test-section {
  background-color: #ff9900;
  gap: 15px;
  height: 300px;
  border-radius: 0px 0px 40px 40px;
}

.hero-hint-section {
  gap: 30px;
  margin-top: -70px;
}

.hero-hint-section .card {
  max-width: 350px;
  padding: 10px 20px;
  gap: 20px;
}

.hero-hint-section .card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.hero-hint-carousel-section {
  gap: 30px;
  margin-top: -70px;
}

.hero-hint-carousel-section .card {
  padding: 10px 20px;
  gap: 20px;
}

.hero-hint-carousel-section .card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.quesition-section {
  padding-top: 70px;
}

.quesition-section .card-answer {
  display: block;
  border: 2px solid #000;
  border-radius: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quesition-section .question-wrapper {
  margin-bottom: 60px;
}

.quesition-section .card-answer {
  display: block;
  border: 2px solid #000;
  border-radius: 50px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}

.quesition-section .card-answer .checkbox {
  aspect-ratio: 1/1;
  width: 40px;
  border-radius: 100%;
  background-color: #ffe3ba;
  transition-duration: 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quesition-section .card-answer:hover .checkbox {
  background-color: #ffd18f;
}

.quesition-section .card-answer .checkbox .is-checked {
  opacity: 0;
  background-color: #ff9e16;
  transition-duration: 0.35s;
  aspect-ratio: 1/1;
  width: 0;
  border-radius: 100%;
}

.quesition-section .card-answer:has(input:checked) .checkbox .is-checked {
  opacity: 1;
  width: 28px;
}
